.input{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
#comment{
    margin-top: 50px;
}
#input{
    margin-bottom: 10px;
}
body{
    background-image: url("img/com.jpg");
    background-size: cover;
}

#foo{
    
    margin: 0 auto;
    width: 50%;
    
}
button{
    margin-bottom: 20px;
}